:root {
  /* Primary */
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  /* Neutral */
  --Very-dark-blue: hsl(217, 54%, 11%); /* (main BG) */
  --dark-blue: hsl(216, 50%, 16%); /*  (card BG) */
  --grey-dark-blue: hsl(215, 32%, 27%); /*  (line) */
  --White: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box; 
  font-family: 'Outfit', sans-serif;
  margin: 0;
}

body {
  background-color: var(--Very-dark-blue);
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* Sizing the container*/
.nft-card {
  margin-top: 0;
  width: 21.875rem;
  height: 37.5rem;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--dark-blue);
  border-radius: 15px;
  box-shadow: 10px 10px 30px rgb(11, 22, 39), -10px 10px 30px rgb(11, 22, 39);
}

.wrapper {
  display: flex;
  flex-flow: column wrap;
  padding: 1.5rem;
  color: var(--Soft-blue);
}
/* Styling main img and overlay*/
.img-overlay {
  position: relative;
  width: 100%;
  height: 18.75rem;
}

.img-overlay img {
  width: 100%;
  height: 18.75rem;
  border-radius: 10px;

}

.overlay {
  width: 100%;
  height: 18.75rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: hsla(178, 100%, 50%, 0);
  border-radius: 10px;
}

.overlay img {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* Styling header and paragraph*/
h1 {
  font-size: 22px;
  color: white;
  font-weight: 600;
  margin-top: 1.65rem;
  
}

.p1 {
  font-size: 18px;
  font-weight: 300;
  margin-top: 15px;
}
/* Styling nft-info and date*/
.crypto-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 25px 0;
}

.amount {
  color: var(--Cyan);
  font-weight: 600;
}

.nft-info, .date {
  display: flex;
}

.nft-logo, .time-logo {
  margin-right: 7px;
}
/* Breaking line */
hr {
  width: 100%;
  border: 1px solid var(--grey-dark-blue);
}
/* Styling creators info */
.acount-info {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-weight: 300;
}

.avatar {
  width: 2rem;
  margin-right: 10px;
  border: 1px solid var(--White);
  border-radius: 50%;
}

.creator-name {
  color: var(--White);
}
/* Hover animation */
.overlay:hover {
  opacity: 1;
  background-color: hsla(178, 100%, 50%, 0.4);
  cursor: pointer;
}

h1:hover, .creator-name:hover {
  color: var(--Cyan);
  cursor: pointer;
}
